.job-form-container {
  box-shadow: 3.5px 3.5px 3.5px 3.5px #E5E5EA;
  border: 1.5px solid #E5E5EA;
  border-radius: 4px 4px 4px 4px;
  font-family: Arial, sans-serif;
  width: auto;
  height: auto;
  }
  .heading{
    width: auto;
    height: 4rem;
    border-bottom: 1px solid #EFEFEF;
    display: flex;
    align-items: center;
  } 
  .job-form-heading {
    font-size: 2rem;
    margin: 0 0 0 1em;
  }
  
  .job-form {
    margin: auto;
    margin-top: 1em;
    width: 87%;

  }
  
  .job-form-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1em;
    margin: 0 0 0.7em 0;
  }
  
  .job-form-column {
    flex: 1;
  }
  
  .job-form-label {
    display: block;
    margin-bottom: 1em;
    font-size: 1.8vh;
    font-weight: bold;
  }
  
  .job-form-input {
    width: 97%;
    padding: 0.6em;
    border-radius: 4px;
    border: 1px solid #ddd;
  }
  
  .job-form-textarea {
    width: 98.5%;
    height: 20vh;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
  }
  
  .job-form-select-wrapper {
    display: flex;
    gap: 1em;
  }
  
  .job-form-select {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
  }
  
  .job-form-salary-wrapper {
    display: flex;
    align-items: center;
    gap: 1em;
  }
  
  .job-form-salary-input {
    width: 91%;
    padding: 10px;
    border-radius: 4px;
    border: none;
  }
  
  .job-form-salary-label {
    margin-right: 8px;
  }
  
  .job-form-button-group {
    display: flex;
    justify-content: flex-end;
  }
  
  .job-form-cancel-button {
    background-color: #f0f0f0;
    border-radius: 24px;
    width: 7vw;
    height: 5vh;
    border: 1px solid #D1D1D6;
    background: white;
  }
  
  .job-form-preview-button {
    background-color: #0A0745;
    color: white;
    border: none;
    border-radius: 24px;
    width: 8vw;
    height: 5vh;
  }

  #autofill-btn{
    width: 6em;
    height: 2.5em;
    border: 1px solid #E5E5EA;
    color: #2295E8;
    font-family: roboto;
    background: #ffff;
    font-weight: 500;
    margin: 1.5em 0 0 7em;
    border-radius: 4px 4px 4px 4px;
  }
  .job-form-salary-wrapper-cont-1{
    width: 50%;
    display: flex;
    border: 1px solid #ddd;
    border-radius: 4px 4px 4px 4px;
  }
  .job-form-salary-wrapper-cont-2{
    border: 1px solid #D1D1D6;
    width: 50%;
    display: flex;
    border-radius: 4px 4px 4px 4px;
  }
  .salary-input-cont1{
    width: 80%;
  }
  .slary-input-lpa{
    width: 20%;
  }
  .salary-input-cont2{
    width: 80%;
  }
  .salary-input-lpa1{
    width: 20%;
    /* position: absolute; */
    top: 52vh;
    right: 17vw;
    border-left: 1px solid #D1D1D6;
    padding: 9px 0px 0px 0px;
    text-align: center;
    background: #D1D1D6;
    font-size: 1.1vw;
  }
  .salary-input-lpa{
    width: 20%;
    text-align: center;
    padding: 9px 0 0 0;
    border-left: 1px solid #D1D1D6;
    background: #D1D1D6;
    font-size: 1.1vw;
  }
  .job-form-description{
    width: 100%;
  }

  @media (max-width: 480px){

    .job-form-container{
    width: 100vw;
    height: 100vh;
    }
    .heading{
      width: 41%;
    }
    .job-form-heading{
      font-size: 6vw;
      margin: 0 0 0 0.5em;
    }
    #autofill-btn{
      margin: 0 0 0 1.2em;
    }
    .job-form-preview-button{
      width: 20%;
      font-size: 2.5vw;
    }
    .job-form-cancel-button{
      width: 15%;
    }



  }