.body {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 5rem);
  width: 100%;
  transition: all 0.3s ease;
}

.dashboard {
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  flex: 1; 
  transition: margin-left 0.3s ease;
  background-color: #f4f4f4; 
  overflow-y: auto;
}

.sidebar.hidden {
  width: 0;
  padding: 0;
  transition: width 3s ease-in;
  overflow: hidden;
}

.dashboard.expanded {
  flex: 1 0 100%;
  flex-wrap: nowrap;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 198px;
  height: calc(100vh - 5rem);
  transition: width 0.3s ease;
  background-color: #fff;
  padding: 2vh;
  margin: 2vh;
  cursor: pointer;
}
.sidebar.show{
  width: 198px;
  height: calc(100vh - 5rem);
  transition: width 0.3s ease;
  background-color: #fff;
  padding: 2vh;
  margin: 2vh;
  cursor: pointer;
}
.togglebtn{
  position: absolute;
  top: 10vh;
  z-index: 1;
}

@media(max-width: 768px) {
  .sidebar {
    
  }

  .dashboard {
    width: 100vw;
    margin-left: 0px;
  }
}