.container{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.navbar{
  width: 100vw;
  height: 10vh;
}
.body{
  height: calc(100vh - 10vh);
}
.sidebar{
  height: calc(100vh - 40px);
  width: 195px;
}
.dashboard{
  height: auto;
  width: auto;
}


